@model Booking
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<br />
<h1 class="text-black text-center">Ny bokning</h1>
<form method="post" asp-action="Create">
    <div class="border border-dark rounded">
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Customer.FirstName" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="@Model.Customer.FirstName" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Customer.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Customer.LastName" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="@Model.Customer.LastName" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Customer.LastName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Customer.SSN" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="@Model.Customer.SSN" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Customer.SSN" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.BookingDateAndTime" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="@Model.BookingDateAndTime" class="form-control" />
            </div>
            <span asp-validation-for="@Model.BookingDateAndTime" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Car.CarSize" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Car.CarSize" asp-items="ViewBag.carSizeOne" class="form-control">
                   
                </select>
            </div>
            <span asp-validation-for="@Model.Car.CarSize" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Car.LicensePlate" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="@Model.Car.LicensePlate" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Car.LicensePlate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Car.DistanceInKm" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="@Model.Car.DistanceInKm" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Car.DistanceInKm" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-5"></div>
            <div class="form-group">
                <input type="submit" value="Bekräfta bokningen" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
