@model Booking
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
@if (@ViewBag.error != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.error
    </div>
}
@if (@ViewBag.ok != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.ok
    </div>
}
<br />
<h1>Ny bokning</h1>
<hr />
<form method="post" asp-action="Create">
    <div class="row">
        <div class="col-4">
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                    <label asp-for="@Model.Customer.SSN" class="col-form-label"></label>
                    <select asp-for="@Model.Customer.SSN" asp-items="ViewBag.customer" class="form-control"></select>
                    <span asp-validation-for="@Model.Customer.SSN" class="text-danger"></span>
            </div>

            <div class="form-group">
                    <label asp-for="@Model.BookingDateAndTime" class="col-form-label"></label>
                    <input asp-for="@Model.BookingDateAndTime" class="form-control" />
                <span asp-validation-for="@Model.BookingDateAndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                    <label asp-for="@Model.Car.LicensePlate" class="col-form-label"></label>
                    <select asp-for="@Model.Car.LicensePlate" asp-items="ViewBag.carSizeOne" class="form-control"></select>
                <span asp-validation-for="@Model.Car.LicensePlate" class="text-danger"></span>
            </div>
            <br />
                <div class="form-group">
                    <input type="submit" value="Bekräfta bokningen" class="btn btn-success" />
                </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
