@model IEnumerable<Booking>

@{
    ViewData["Title"] = "ShowAllActiveBookings";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Car.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Customer.SSN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.LicensePlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.SSN)
                    </td>

                </tr>           

        }
    </tbody>
</table>