@model IEnumerable<BiluthyrningApp.Models.Car>

@{
    ViewData["Title"] = "ShowAllCars";
}

<h1>ShowAllCars</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceInKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBooked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeBooked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceInKm)
            </td>
            @if (item.CarRemoved == false)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsBooked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeBooked)
                </td>
                @if (item.NeedService == true)
                {
                    <td>
                        <a asp-action="ServiceCar" asp-route-id="@item.Id">Skicka på service</a>
                    </td>
                }
                @if (item.NeedsCleaning == true)
                {
                    <td>
                        <a asp-action="CleanCar" asp-route-id="@item.Id">Tvätta bil</a>
                    </td>
                }
                @if (item.DistanceInKm > 2000)
                {
                    <td>
                        <a asp-action="RemoveCar" asp-route-id="@item.Id">Plocka bort</a>
                    </td>
                }
            }
            else
            {
                <td>
                    <p2>Bil borttagen</p2>
                </td>
                <td>
                    <p2>Bil borttagen</p2>
                </td>
            }

        </tr>
}
    </tbody>
</table>
